body{
    font-family: 'Times New Roman', Times, serif;
    
}
.section{
    /*width:700px;
    margin:auto;*/
    display:grid;
    gap:20px;
}
#highlights{
    display:grid;
    grid-template-columns: auto auto auto auto;
   
   
}
